*~
.DS_Store
target
.settings
.classpath
.pmd
.factorypath
.project
# IntelliJ project file exceptions (https://www.jetbrains.com/idea/help/synchronizing-and-sharing-settings.html)
.idea/libraries
.idea/workspace.xml
.idea/tasks.xml